
body {
    background-image: linear-gradient(45deg, #0A6763, #008080);
    background-size: cover; 
}

h1 {
    text-align: center;
    color: antiquewhite;
}

/* LEAVE NAV UNCOMMENTED WHEN UNCOMMENTING EVERYTHING ELSE 
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #E27A0B;
}
*/

#settings {
    margin-left: 50px;
    margin-top: 20px;
    height: 40px;
    width: 10px;
    background-color: #E27A0B;
    border-radius: 10px;
    left: 100px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


#image_section {
    height: 300px;
}

#image_wrap {
    margin: auto;
    background-color: #E27A0B;
    height: 110%;
    width: 30%;
    border-radius: 30px;
    right: 400px; /* might be able to delete this */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex; /* display:flex allows #image-wrap to stretch across screen and margin:auto to work in child element and also (#image below)*/
}

#image { /* might need to delete or amend this section when image added*/
    background-color: black;
    margin: auto;
    height: 80%;
    width: 80%;
    border-radius: 30px;
}

#intro_and_questions {
    /*background-color: red; */
    height: 40%;
    width: 100%;
    display: flex;
    background-color: #E27A0B;
    border-color: #C8AD55;
    border-radius: 10px;
    padding: 7px;
    width: 20em;
    margin: auto;

}

#intro_and_questions_div {
    margin:  auto;
}

#start_and_answers {
    width: 100%;
    height: 150px;
    display: flex;
}

#start_button {
    margin: auto;
    height: 40%;
    font-size: 1.1rem;
    background-color: #E27A0B;
    border-color: #C8AD55;
    min-width: 150px;
    border-radius: 10px;
    color: antiquewhite;
    
}

